<header>
<div class="container cf">
  <h1>Value Visualizer</h1>
  <br>
 <div class="onoffswitch">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
</div>
  <br>
</div>
<div class="price"><a href="http://www.winkdex.com"><h2>---</h2><span class="price-text">CURRENT BTC PRICE IN USD<br>(Winkdex)</span></a></div>
</header>
<div id="bitcoins">
  <div id="bubbleDiv">
  </div>
</div>

